<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Xunit_Tests片段</Title>
      <Shortcut>apput</Shortcut>
      <Description>XUnit_Tests片段</Description>
      <Author>Personball</Author>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>AppName</ID>
          <ToolTip>替换为应用服务名称</ToolTip>
          <Default>AppName</Default>
        </Literal>
        <Literal>
          <ID>appName</ID>
          <ToolTip>替换为应用服务名称camelCase</ToolTip>
          <Default>appName</Default>
        </Literal>
        <Literal>
          <ID>BaseAppName</ID>
          <ToolTip>替换为应用服务名称</ToolTip>
          <Default>BaseAppName</Default>
        </Literal>
      </Declarations>
       <Imports>
        <Import>
          <Namespace>System.Threading.Tasks</Namespace>
        </Import> 
        <Import>
          <Namespace>Xunit</Namespace>
        </Import>
        <Import>
          <Namespace>Shouldly</Namespace>
        </Import>
      </Imports>
      <Code Language="csharp">
        <![CDATA[
        public class $AppName$AppService_Tests : $BaseAppName$ApplicationTestBase
        {
          private readonly $AppName$AppService _$appName$AppService;

          public $AppName$AppService_Test()
          {
              _$appName$AppService = GetRequiredService<$AppName$AppService>();
          }

          [Fact(DisplayName = "$end$")]
          public async Task GetAllAsync_Test()
          {
              await WithUnitOfWorkAsync(async () =>
              {
                  1.ShouldBe(2);
              });
          }
        }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>